.tab-handler {
    list-style-type: none;
    display: flex;
    margin: 0;

    border-bottom: 1px solid;
}

.tab,
.tab--selected {
    cursor: pointer;

    border-bottom: none;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    font-size: .75rem;

    text-transform: uppercase;
    padding: .5rem 1.5rem .5rem 1.5rem;;
}

.tab:hover {
    background: #8b8b8b;
}

.tab--selected {
    background: #e4e4e4;

    border-bottom: none;
}
