.map-handler {
    display: flex;
    flex-flow: column;
}

.drawer-table {
    &--row {
        display: flex;
    }

    &--cell {
        flex: 1;
    }
}
.drawer-header--match {
    background: chocolate;
}
.drawer-table--input {
    background: #fff;
    font-size: 1rem;
    color: #000;
    border: none;
    border-bottom: 1px dashed #000;
    width: 100%;
    text-transform: uppercase;

    position: sticky;
    top: 0;
}

.map-handler--disabled-location {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: .25rem;
    background: #d9d9d9;
}

.map-handler__range-input input {
    &:hover {
        opacity: 1;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1rem;
        height: 1rem;
        background: #000;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 1rem;
        height: 1rem;
        background: #000;
        cursor: pointer;
    }

    -webkit-appearance: none;
    height: 1rem;
    background: #d3d3d3;
    outline: none;
    border: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
