.table,
.table-content {
    display: flex;
    flex-direction: column;
}

.table {
    max-height: 30rem;
    overflow-y: auto;

    &-row-header {
        background: #d9d9d9;
        text-transform: uppercase;
    }

    &-row {
        display: flex;

        &:nth-child(even) {
            background: #d9d9d9;
        }

        &-cell {
            text-align: center;
            flex: 1;
            padding: .25rem
        }
    }
}
