.drawer,
.drawer--open {
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    background: #fff;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: fixed;
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
}

.drawer {
    width: 0;
    transition-property: width;
    transition-timing-function: ease;
}

.drawer--open {
    width: 40%;
    padding: 0 .5rem .5rem 1.25rem
}

.drawer_button--close {
    cursor: pointer;
    display: flex;
    border: none;
    background: transparent;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.drawer_content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.drawer_overlay {
    background: #0009;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 10;
}
