.tree {
    &_input {
        background: #fff;
        font-size: 1rem;
        color: #000;
        border: none;
        border-bottom: 1px dashed #000;
        width: 100%;
        text-transform: uppercase;

        position: sticky;
        top: 0;
    }

    &_content {
        overflow: auto;
    }
}

.tree.tree--explore-mode {
    flex: 1;
}
