.tree-node {
    margin-left: 1rem;

    &,
    &--with-children,
    &--with-children-expanded {
        font-size: .75rem;
        font-weight: 100;
    }

    &--pattern-match {
        font-weight: bold;
    }

    &--with-children {
        &,
        &-expanded {
            margin-left: .5rem;
        }

        &::before, &-expanded::before {
            width: 1rem;
            display: inline-block;
            text-align: center;
            font-size: .75rem;
        }

        &::before {
            content: "+";
        }

        &-expanded::before {
            content: "-";
        }
    }
}
