.map-handler {
    display: flex;
    flex-flow: column;
}

.drawer-table {
    &--title {
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }

    &--row {
        display: flex;
    }

    &--badge {
        background: #6D6D6D;
        border-radius: 5px;
        box-sizing: border-box;
        color: #fff;

        margin-left: .25rem;
        padding: 0.1rem 0.25rem;
        font-size: .75rem;
    }

    &--cell {
        flex: 1;
        padding: .25rem;
        font-size: .75rem;
        box-sizing: border-box;
        border-bottom: 1px dashed #000;
        border-right: 1px dashed #000;

        &:last-child {
            flex: 0 0 75%;
            border-right: none;
        }
    }

    &--input {
        background: #fff;
        font-size: 1rem;
        color: #000;
        border: none;
        border-bottom: 1px dashed #000;
        width: 100%;
        text-transform: uppercase;
    
        position: sticky;
        top: 0;
    }

    &--category {
        margin-bottom: 0;
        font-size: .75rem;
        text-transform: uppercase;
    
        &--match {
            background: chocolate;
        }
    }
}

.map-handler--form {
    position: absolute;
    background: #ffffff;
    border: 1px solid #000;
    border-top: none;
    border-right: none;
    opacity: 0.9;
    right: 0;

    width: 12rem;
    padding: .5rem;
    box-sizing: border-box;
}

.map-handler--form-button {
    background: transparent;
    padding: 0.25rem 0 0 0;
    text-transform: lowercase;
    font-weight: bold;
    font-size: .75rem;
    cursor: pointer;
}

.map-handler--disabled-location {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: .25rem;
    background: #d9d9d9;
}

.map-handler--legend {
    position: absolute;
    background: #ffffff;
    border: 1px solid #000;
    border-top: none;
    border-left: none;
    opacity: 0.9;
    left: 0;
    width: 15rem;
    padding: 0.5rem;
    box-sizing: border-box;

    .pigeon-click-block {
        position: initial !important;
    }

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: flex; /* Use flex to align Marker and text horizontally */
        align-items: center; /* Align items vertically in the center */
        margin-bottom: 8px; /* Adjust as needed for spacing between items */
    }
    
    h4 {
        padding: 0;
        margin: .25rem;
        text-align: center;
    }
}

.map-handler__range-input input {
    &:hover {
        opacity: 1;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1rem;
        height: 1rem;
        background: #000;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 1rem;
        height: 1rem;
        background: #000;
        cursor: pointer;
    }

    -webkit-appearance: none;
    height: 1rem;
    background: #d3d3d3;
    outline: none;
    border: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
