.topnav {
    display: flex;
    height: 3rem;
    box-sizing: border-box;

    &__logo--main {
        margin: 0 1rem;
    }

    &__logo--main,
    &__item {
        box-sizing: border-box;
        height: 3rem;
    }

    &__item {
        padding: .25rem;
        cursor: pointer;
        margin-left: auto;
    }
}
