.topnav {
    display: flex;
    flex: 1 0 100%;

    height: 3rem;
    box-sizing: border-box;


    &__logo--main {
        margin: 0 1rem;
    }

    &__logo--main,
    &__logo--github,
    &__item {
        box-sizing: border-box;
        height: 3rem;
    }

    &__item,
    &__logo--github {
        padding: .25rem;
        cursor: pointer;
    }

    &__item {
        margin-left: auto;
    }
}
